# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.svn*
obj*
bin*

stdafx.h.cpp
*.filters
*.user
*.vcxproj
*.ncb
*.aps
*.sbr
/SoSmiley/_SoSmiley_i.c
/SoSmiley/_SoSmiley_p.c
/SoSmiley/dlldata.c
/SoSmiley/_SoSmiley.h
/SoSmiley/_SoSmiley.idl
